# You can use: https://github.com/github/gitignore

*~
a.out
*.out
*.o
*.ko
*.so
*.a

*.7z
*.gz
*.iso
*.rar
*.tar
*.tgz
*.bz2
*.zip

*.rej
*.orig
*.log

.gdb_history

build
tags
TODO

Makefile
Makefile.in
aclocal.m4
autom4te*.cache
.deps
.libs
.dirstamp
aclocal.m4
compile
config.h
config.h.in~
config.h.in
config.log
config.status
configure
configure~
depcomp
install-sh
missing
stamp-h1
m4

*.ko.*
*.mod
*.mod.c
*.mod.cmd
*.o.cmd
*.symvers
*.order

.Module.symvers.cmd
.modules.order.cmd
